nav.navbar.navbar-expand.navbar-dark.bg-success
  .container
    a.navbar-brand(href='/') Pug Webpack Boilerplate
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='/features.html') Features
          li.nav-item
            a.nav-link(href='https://github.com/deepakgupta191199/pug-webpack-boilerplate') Source

