section.bg-dark#landing
  .container.d-flex.flex-column.text-white.justify-content-center.align-items-center.h-100
    img.rounded-circle.mb-4(src='images/avataaars.svg', alt='profile')
    h1.text-uppercase Deepak Gupta
    a.btn.btn-primary.mt-4(href="https://github.com/deepakgupta191199") Github Profile


style.
  #landing
  {
    height: 100vh;
    width: 100%;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

