doctype html
html
  head
    title 
        block title
        
    block css
      //- Include common css here
  body
    block content

    block scripts
        //- Include common javascript files here