doctype html
html
  head
    title 
      block title

    block meta

    block css
      //- Include common css here
  body

    block navbar
      include /components/shared/navbar

    block content

    block footer
      include /components/shared/footer

    block scripts
      //- Include common javascript files here